.rene{
  text-align: center;
  color: black;
  text-shadow: 1px 1px 2px black,0 0 25px rgb(0, 0, 0),0 0 5px rgb(0, 0, 0);
 
}
.App,.next,.last{
  background-color: rgba(230, 242, 186, 0.7);
  display: flex;
  justify-content: space-around;

}
